
body {
    background-color: #393e46;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 30px;

    font-family: 'Roboto', sans-serif;
}

.start {
    margin-top: 100%;

    .btn-start {
        font-size:100px;
    }
}

.q1, .q2 {
    margin-top: 100%;
}

.contact {
    margin-top: 80%;
}

p {
    color:white;
}

th {
    color:darkgray;
    font-size: 24px;
}
input[type="text"] {
    font-size: 24px;
}

.content {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: xx-large;

}

button {
    box-shadow:inset 0px 1px 0px 0px #cf866c;
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    background-color:#d0451b;
    border-radius:10px;
    border:1px solid #942911;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 5px 5px #854629;
}
button:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
}
button:active {
    position:relative;
    top:1px;
}

/* below is CSS for CV

.contentholder {
    background-color: #393e46;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.content {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    color: #e6ebf0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.imgMe {
    float:right;
    object-fit: scale-down;
    pointer-events: none;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 3px;
    transform: scaleX(-1);
}

h1 {
    font-weight: 750;
}

h2 {
    padding-top: 10px;
    font-weight: 750;
}

h3 {
    padding-top: 10px;
    font-weight: 500;
}

hr {
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}

@media (max-width:629px) {
    img {
        display: none;
    }

    .content {
        font-size: small;
    }

    .contentholder {
        margin-left: 8%;
        margin-right: 8%;
    }
}

*/